body{
    background:linear-gradient(to right,rgb(236, 23, 23),rgb(58, 58, 218));
}

.lt{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lt h1{
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
}
 
.carousel-inner .carousel-caption button{
    background:linear-gradient(to right,rgb(221, 38, 38),rgb(32, 32, 212));
    margin-bottom: 33%;
    margin-left: 88%;
    height: 60px;
    width: 170px;
    font-size: 20px;
    color:black;
    font-weight: bold;
}