@media (min-width:320px) and (max-width:549px){
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 76%;
        background: #f1f1f1;
        margin-top: 20px;
    }
    form.example button {
        float: left;
        width: 16%;
        height: 47px;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        margin-top: 20px;
    }
    .dropdown, .dropup {
        position: relative;
        top: -45px;
    }
    
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        color: white;
    }

    #h1 {
        margin-left: 60px;
        color: rgb(245, 33, 33);
        text-align: center;
        margin-top: -85px;
        position: absolute;
        text-shadow: 1px 2px 3px rgb(78 78 184);
    }
    .col-lg-4 img {
        height: 190px;
        width: 225px;
    }
    .col-lg-4 ul {
        display: flex;
        list-style: none;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: -36px;
    }
    .col-lg-4 ul li {
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 7px;
        border: 2px solid rgb(65, 61, 61);
        color: white;
        width: 28px;
        height: 40px;
        transition: 0.25s;
    }
    .col-lg-4 button {
        background-color: white;
        color: rgb(61, 61, 240);
        border-radius: 10px;
        width: 100px;
        height: 35px;
        margin-left: 20px;
    }
    .col-lg-4 {
        /* border: 2px solid red; */
        height: 354px;
        width: 315px;
        margin: 8px;
        padding-left: 45px;
        transition: 0.25s;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 17px;
        line-height: 1.42857143;
        HEIGHT: 42PX;
        width: 90px;
        user-select: none;
        margin-top: 20px;
    }

    .col-lg-4 .font i {
        margin-left: 20PX;
        font-size: 20px;
    }
    .fonts{
        position: absolute;
        visibility: hidden;
    }
    #heart {
        margin-top: 75px;
        margin-left: 65px;
        position: absolute;
        left: 75px;
    }
    #cart {
        position: absolute;
        top: 55px;
        left: 35px;
    }
}