.col-lg-4:hover{
    transform: translateY(-10px);
    box-shadow:2px 2px 2px #0b7dda;
    background-image: linear-gradient(to right,rgb(12, 12, 117),rgb(128, 124, 124),rgb(13, 13, 83));
  }
  #h1{
    margin-left: 10px;
    color:rgb(18, 60, 150);
    font-weight: bold;
    text-shadow: 1px 2px 3px rgb(176, 176, 189);
}
#h2{
  text-align: center;
  font-weight: bold;
  color:rgb(17, 39, 136);
  text-shadow: 1px 2px 3px rgb(195, 195, 212);
}


    .col-lg-4 ul li:hover{
        transform: translateY(-10px);
        background-color: rgb(12, 21, 70);
        color: white;
        border: 2px solid rgb(255, 255, 255);
    }