body{
    background-image:linear-gradient(to right,rgb(15, 73, 15),rgb(167, 17, 17),rgb(27, 27, 99));
}

.lt{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lt h1{
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
    color: rgb(192, 178, 178);
}
 
.carousel-inner .carousel-caption button{
    background:linear-gradient(to right,rgb(15, 73, 15),rgb(167, 17, 17),rgb(27, 27, 99));
    margin-bottom: 33%;
    margin-left: 80%;
    height: 60px;
    width: 170px;
    font-size: 20px;
    color:rgb(250, 245, 245);
    font-weight: bold;
}